<html>
  <head>    
  <%- include('partials/_header'); -%>
	<!-- * LINKS * -->	
	<link rel="stylesheet" href="https://purple-silver-helicona.glitch.me/style.css">
	<link rel="icon" href="images/cedar.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300" rel="stylesheet" type="text/css">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


	<!-- * JAVA SCRIPT * -->	
	<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


</head>
<body>


	<!-- * PRELOADER * -->

  	<div class="loader-wrapper">
      	<span class="loader"><span class="loader-inner"></span></span>
  	</div>  

	<!-- * HEADER + NAV * -->
	
	<section class="banner" id="home">
    <div class="overlay"></div>		
		<div class="content" data-aos="fade-right" data-aos-duration="1000">
			<h2>
				Merhaba,<br>
				<span>Hoş Geldin!</span>
			</h2>

			<p>
				Discord Kod Paylaşım Sitesi! Bu siteden kolayca kodlara ulaşabilirsiniz. Siteye giriş yapıp özel kodlarımıza ulaşabilirsiniz! CD-RX, Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi.
			</p>
			<a href="https://discord.gg/6FwWNC8AGj" style="text-decoration:none;background-color:#1874cd" target="_blank"><i class="fab fa-discord" style="margin-right: 10px; font-size: 20px;"></i>Sunucumuza Katıl!</a>

		</div>	

	</section>

	<!-- * ABOUT US * -->

	<section class="services p-t-30" id="about">
		<h1><span>CD-RX</span> hakkında</h1>
		<div class="container">
			<div class="service">
				<i class="fas fa-hands-helping"></i>
				<h2>YARDIMLAŞMA</h2>
				<p>
					Discord botunuzda oluşan hatalarda veya yapamadığınız kodlarda sunucumuzda bulunan yardım kanallarından destek alabilirsiniz. Tamamen ücretsiz bir şekilde destek veriyoruz! Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>

			<div class="service">
				<i class="fas fa-hand-sparkles"></i>
				<h2>YETKİLİLER</h2>
				<p>
					Yetkililerimiz en iyi şekilde sizlere destek çıkmaya çalışmaktadır. Ekibimiz sizlere daha iyi bir hizmet vermek için çabalamaktadır. Daha iyi hizmet vermek için çalışıyoruz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service">
				<i class="fas fa-hammer"></i>
				<h2>ÜCRETSİZ KODLAR</h2>
				<p>
					Hiçbir maddi destek istemeden sizlere ücretsiz bir şekilde kodları sunuyoruz. Sadece arkadaşlarınızı Sunucuya davet ederek ya da sunucuda aktif kalarak daha özel kodlara sahip olabilirsiniz. Türkiye'nin En Kaliteli ve Ücretsiz Kod Paylaşım Sitesi
				</p>
			</div>
			<div class="service" style="width: 80% !important; margin-top: 50px;">
				<i class="fas fa-star"></i>

				<p>
					Zor şartlar altinda olan CD-RX Rrfanx tarafindan yapildi. sızlerı en iyi olani vermek için elimizden gelene yapiyoruz. Daha iyi bir Tupluluk için aramiza katil. En iyi Aile olan CD-RX yapilma tarihi 3.Ekim.2022.pazartesi
				</p>
			</div>
		</div>
	</section>

  
   </div>
  </div><br>
  <div class="container text-center">
<hr color="white">
<font color="white" size="6"><b>CD-RX Botu</b></font>
<br><br>
<br><br>
<div class="allpanel">
    <div class="panel1">
      <div class="col-md-4">
        
                  <div class="ASD">                                    
                    
       
                    </div>
                  </div>
      </div> 
      
      
      <div class="col-md-4">
                  <div class="ASD">                                    
                      <img class="card-img-top" style="height: 200px;" src="https://cdn.discordapp.com/attachments/1007938439703965718/1024055672389783552/standard.gif" alt="Banner">                                                  
                      <img class="certificate-role" src="/css/certificate.png" alt="">                    
                    <div class="card-body">
                      <div class="avatarmargin">
                      <img style="width: 80px;" class=" certificate-botimg " src="https://cdn.discordapp.com/attachments/1007938439703965718/1024057485092458577/Adsz_tasarm_1-photoaidcom-cropped_3.png" alt="CD-RX">
                      </div>
                      
                  CD-RX     
                      
                      <div class="bg-primary px-2 w-auto d-inline-block" style="border-radius: 50px; width: 50px;">
                      <i class="fa fa-check"></i> BOT
                      </div>
                      <p> </p>
                        <p class="card-text">Herkese açik en iyi TR botu.</p>
                      <div class="dropdown-divider" style="border-top:1px solid #ffde66"></div>
                      <img style="width: 25px;" class=" certificate-role " src="https://cdn.glitch.com/a6dc97c9-9332-4e14-a1aa-abd16e72cafd%2FDiscord-Logo-White.png?v=1600933208227" alt="Discord Partner"><h> BEST BOT IN TR</b></h> 
                    <br>
                    <img style="width: 25px;" class=" certificate-role " src="https://cdn.discordapp.com/emojis/392249976639455232.png?v=1" alt="Discord Partner"><h>  Vertified Bot</b></h> 
                    </div>
                    <div class="card-footer">                    
    <a class="btn btn-outline-warning nav-link text-uppercase" href="https://discord.com/oauth2/authorize?client_id=1018588655809482832&scope=bot&permissions=545300936830"> <i class="fa fa-robot"></i><b>  Discord Botumuz</b></a>
                    </div>
                  </div>
                      </div>
                  </div>
      </div>      
    </div>
    </div12>  
  </div><br>
<font color="white" size="5"><b></b></font>
      <div class="container text-center">
<hr color="white">
<br><br>
<br><br>


	<!-- * DISCORD * -->

	<div class="discord">
		<div class="overlay"></div>
		<div class="text">
			<h1>Sunucumuza hala<br>göz atmadın mı?</h1>
			<a href="https://discord.gg/6FwWNC8AGj" style="text-decoration:none;"target="_blank">Hemen Katıl!</a>
		</div>
		<div class="discordImg">
			<img src="https://cdn.discordapp.com/attachments/1007938439703965718/1024055672389783552/standard.gif">
<!-- 			<iframe src="https://canary.discordapp.com/widget?id=627235926929571840&theme=dark" width="350" height="250" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe> -->
		</div>
	</div>


	<!-- * FOOTER * -->

    <div class="footer">
    	<h2>CD-RX</h2>
    	<div class="footerLinks">
    		<a href="#" class="colored">Ana Sayfa</a>
    		<a href="#about">Hakkımızda</a>
    		<!-- <a href="members.html">Ekibimiz</a> -->
    		<a href="https://discord.gg/6FwWNC8AGj" target="_blank">Discord</a>
    	</div>
    	<p class="copyright">
    		&copy; Tüm Hakları Saklıdır. <span>© CD-RX</span>
    	</p>
    </div>
<br>
        <br>
    	<p class="credits">
    		<i class="fa fa-code"></i>
    		by
    		<span>Rrfanx</span>
      
	<!-- * SCROLL TO TOP * -->

	<button id="back-to-top-btn"><i class="fa fa-angle-up"></i></button>


	<!-- JAVASCRIPT -->

	<script>
	// TOGGLE EFFECT
		function toggle() {
			var home = document.getElementById('home');
			var nav = document.getElementById('navigation');
			home.classList.toggle('active');
			nav.classList.toggle('active');
		}
	</script>
  	<script>
  	// PRELOADER EFFECT
    	$(window).on("load",function(){
     	$(".loader-wrapper").fadeOut("slow");
    	});
  	</script>
  	<script>
  		// ANIMATE ON SCROLL
  		AOS.init();
	</script>
	<script src="https://purple-silver-helicona.glitch.me/Javascript/main.js"></script>	
</body>
</html>